* {
    font-family: "Lato";
}
#main {
    margin-left: 100px;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 600;
}

.title{
    border-bottom: solid 2px wheat;
}

section {
    padding: 3vh;
}

#hero {
    width: 100%;
    height: 40vh;
    /* background-color: snow; */
    background: url("bg_img.jpg") bottom center no-repeat;
    background-size: cover;
    color: white;
}

#about {
    /* background-color: #261F1A; */
    color: wheat;

}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.social-logo {
    margin: 5px;
    font-size:42px
}

.desert-bg a {
    background-color: #7ba1a691;
    color: wheat;
}
.desert-color-1 {
    background-color: #dc6a50;
}

.desert-color-2 {
    background-color: #F0954F;
}

.desert-color-3 {
    background-color: #F0B04F;
}

.desert-color-4 {
    background-color: #F0794F;
}

.cv-contact-bg{
    background-color: #323b4c;
    color: white;
    border-left: solid 2px black;
    border-radius: 15px;
    overflow: auto;
}
.cv-contact-header {
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
    border-bottom: solid 1px white;
}

.cv-content-bg {
    background-color: #2b2b2b;
    /* background-color: white; */
    border-radius: 15px;
}

.cv-main-header {
    color: #7383a1;
    /* color: #323b4c; */
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
    border-bottom: solid 1px #323b4c;
}
.cv-main-sub-header {
    color: #c2c2c2;
    /* color: #212529; */
}

.cv-section {
    margin-top: 1em;
    font-size: 1.15em;
}
.cv-section a {
    color: rgb(64 177 255);
}

.cv-main-content {
    color: #8f8f8f;
    /* color: dimgray; */
    border-left: solid 2px gray;
}

.projects-card {
    background-color: #3b4a71;
    color: white;
}

.typed-out{
    overflow: hidden;
    border-right: .15em solid rgb(154, 111, 11);
    white-space: nowrap;
    animation: 
      typing 1.6s steps(86, end) forwards,
      blink 1s infinite;
    font-size: 1.6rem;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from { border-color: transparent }
    to { border-color: rgb(154, 111, 11); }
}